<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../stylesheets/libs.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/form.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/header.css">
</head>
<body>
<% include partials/header %>
<div class="container-fluid">
   <div class="row justify-content-center">
   <div class="col-md-10">
   <div class="row">
     <div class="col-md-12 form-div">
       <h1 class="text-center">Add new city</h1>
       <hr>
	   <div id="app">
			<div>
        		<form-wizard  
        		      color="#483D8B" 
        		      error-color="#a94442"
        			  title=""
                      subtitle=""
                      @on-complete="onComplete"
                      >
            		<tab-content title="Name"
                        icon="ti-pencil-alt" :before-change="()=>validateStep('step1')">
              			        <step1 ref="step1" @on-validate="mergePartialModels"></step1>
            		</tab-content>
                <tab-content title="Description"
                        icon="ti-align-center" :before-change="()=>validateStep('step2')">
              			<step2 ref="step2" @on-validate="mergePartialModels"></step2>
            		</tab-content>
            		<tab-content title="Image"
                        icon="ti-image" :before-change="()=>validateStep('step3')">
              			<step3 ref="step3" @on-validate="mergePartialModels"></step3>
            		</tab-content>	
        		</form-wizard>
 			</div>
		</div>
     </div>
     </div>
     </div>
   </div>
 </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="../js/libs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
<script src="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.js"></script>
<script src="https://use.fontawesome.com/931e1872a9.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script src="https://unpkg.com/vuelidate@0.5.0/dist/vuelidate.min.js"></script>
<script src="https://unpkg.com/vuelidate@0.5.0/dist/validators.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script type="text/javascript">
Vue.use(VueFormWizard)



Vue.use(window.vuelidate.default)
const {
  required,
  minLength,
  email,
  alpha,
  alphaNum,
  maxLength
} = window.validators

function alphaAndSpaces (value) {
  if (!value) return true;
  return value.search( /^[a-zA-Z\s]+$/ )  !== -1;
}

function alphaNumAndSpaces (value) {
  if (!value) return true;
  return (value.search( /^([^а-яА-Я])+$/ )  !== -1);
}

Vue.component('step1', {
  template: `<transition name="shake"><div class="with-anim" v-show="$v.city.$error">
          <div class="form-group">
            <label>Name of the city</label>
            <input class="form-control" v-bind:class="{'is-invalid': $v.city.$error}" v-model.trim="city" @input="$v.city.$touch()">
             <div class="invalid-feedback" v-if="$v.city.$error && !$v.city.required">Name is required!</div>
             <div class="invalid-feedback" v-if="$v.city.$error && !$v.city.alphaAndSpaces">Name can be only latin symbols and spaces!</div>
          </div>
        </div></transition>`,
  data() {
    return {
      city: ''
    }
  },
  validations: {
    city: {
      required,
      alphaAndSpaces
    },
    form: ['city']
  },
  methods: {
    validate() {
      this.$v.form.$touch();
      var isValid = !this.$v.form.$invalid
      this.$emit('on-validate', this.$data, isValid)
      return isValid
    }
  }
})

Vue.component('step2', {
  template: `<transition name="shake"><div class="with-anim" v-show="$v.description.$error">
          <div class="form-group">
            <label >Description of the city</label>
            <textarea class="form-control" v-bind:class="{'is-invalid': $v.description.$error}" v-model.trim="description" @input="$v.description.$touch()"></textarea>
             <span class="invalid-feedback" v-if="$v.description.$error && !$v.description.required">Description is required</span>
             <span class="invalid-feedback" v-if="$v.description.$error && !$v.description.minLength">Description must be at least 100! Current: {{description.length}}</span>
             <span class="invalid-feedback" v-if="$v.description.$error && !$v.description.maxLength">Description must be not more than 500! Current: {{description.length}}</span>
             <span class="invalid-feedback" v-if="$v.description.$error && !$v.description.alphaNumAndSpaces">Description cant contain rus symbols!</span>
          </div>
        </div></transition>`,
  data() {
    return {
      description: ''
    }
  },
  validations: {
    description: {
      required,
      alphaNumAndSpaces,
      minLength: minLength(100),
      maxLength: maxLength(500) 
    },
    form: ['description']
  },
  methods: {
    validate() {
      this.$v.form.$touch();
      var isValid = !this.$v.form.$invalid 
      this.$emit('on-validate', this.$data, isValid)
      return isValid
    }
  }
})

Vue.component('step3', {
  template: `<transition name="shake"><div class="with-anim" v-show="$v.image.$error">
          <div class="form-group">
            <label >Image of the city</label>
            <input type="file" accept="image/*" class="form-control" v-bind:class="{'is-invalid': $v.image.$error}" @input="$v.image.$touch()" @change="onFileChange"/>
             <span class="invalid-feedback" v-if="$v.image.$error && !$v.image.required">Image is required</span>
          </div>
          <img class="img-thumbnail" v-bind:class="{ 'uploadedImg_active': image }" v-bind:src="image">
        </div></transition>`,
  data() {
    return {
      image: ''
    }
  },
  validations: {
    image: {
      required
    },
    form: ['image']
  },
  methods: {
    validate() {
      this.$v.form.$touch();
      var isValid = !this.$v.form.$invalid 
      this.$emit('on-validate', this.$data, isValid)
      return isValid
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    }
  }
})

new Vue({
  el: '#app',
  data: {
    finalModel: {},
  },
  methods: {
    validateStep(name) {
      var refToValidate = this.$refs[name];
      return refToValidate.validate();
    },
    mergePartialModels(model, isValid){
      if(isValid){
      // merging each step model into the final model
       this.finalModel = Object.assign({},this.finalModel, model)
      }
    },
    onComplete() {
      swal({
		  title: 'Are you sure?',
		  text: "You won't be able to revert this!",
		  type: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: 'Yes, create it!'
	})
    .then(() => {
      let vm = this;
      return new Promise(function(resolve,reject) {resolve(vm.$http.post("/add", {
         city: vm.finalModel.city,
         description: vm.finalModel.description,
         image: vm.finalModel.image,
         name: vm.finalModel.city.toLowerCase(),
         views: 0,
         likes: 0}))
      });
      })
      .then ((obj) => {
        if (obj.body) {
          swal(
              'Added!',
              'This page has been added.',
              'success'
          )
          .then(()=>{window.location.href = "/#cities";});
        } else {
          swal(
              'Ooops!',
              'This page hasn\'t been added. Name is not unique!',
              'error'
          )
        }
      })
   }
  }
})

</script>
<script src="./js/script.js"></script>
</body>
</html>
