<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Trip helper"/>
  <meta property="og:description" content="Travel with confidence, plan your trip ahead, look for appartments and more."/>
  <meta property="og:image" content="img/mark.png">
  <meta property="og:type" content="article"/>
  <meta property="og:url" content= "https://triphelper.herokuapp.com/#main" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./stylesheets/libs.min.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/map-icons.css">
  <link rel="stylesheet" href="./stylesheets/goldenforms-pro.css">
  <link rel="stylesheet" href="./stylesheets/goldenforms-pro-addons.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/header.css">
</head>
<body>
 <% include partials/header %>
 <div id="fullpage">
  <div class="section section-one">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 map-div">
         <div class="map"><img src="img/map.png" class="img-fluid"></div>
         <img src="img/mark.png" class="mark">
       </div>
       <div class="col-md-6 col-sm-12 right">
        <h1 class="heading">Trip Helper</h1>
        <h3>Travel with confidence, plan your trip ahead, look for appartments and more.</h3>
        <ul>
          <li>
            <img src="img/camera.png">
            <p>Discover sights</p>
          </li>
          <li>
            <img src="img/bed.png">
            <p>Have nice sleep</p>
          </li>
          <li>
            <img src="img/restaurant.png">
            <p>Eat delicious food</p>
          </li>
        </ul>
        <nav class="cl-effect-10 moveSection">
          <a href="#" data-hover="Continue"><span>Continue</span></a>
        </nav>
      </div>
    </div>
  </div>
  <div class="mouseScroll">
    <div class="mouse">
      <span class="pointInMouse"></span>
    </div>
    <h6>Scroll down</h6>
  </div>
</div>

<div class="section section-two">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-9 text-center">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 leftText">
            <h1>What is it?</h1>
            <hr>
            <p>It's <span class="typed"></span></p>
            <nav class="cl-effect-10 black moveSection">
              <a href="#" data-hover="Continue"><span>Continue</span></a>
            </nav>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 rightImg">

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="mouseScroll">
    <div class="mouse">
      <span class="pointInMouse"></span>
    </div>
    <h6>Scroll down</h6>
  </div>
</div>
<div class="section section-four" id="slider">
  <div class="container-fluid text-center">
    <h1>Popular places</h1>
    <hr>
    <div class="row justify-content-center sliderRow">
      <div class="col-md-10 col-lg-9 text-center"> 
          <transition-group tag="div" name="slider">
            <div v-for="number in [currentImg]" v-bind:key="number" class="img-slider">
              <div class="row justify-content-center sliding" v-on:mouseover="stopRotation" v-on:mouseout="startRotation">
                <div class="col-lg-5 col-md-5 col-sm-12 sliderWrapper"> 
                  <div class="sliderleftText">
                    <h1 class="animated fadeInUp">{{imgList[Math.abs(currentImg) % imgList.length].header}}</h1>
                    <h3>{{imgList[Math.abs(currentImg) % imgList.length].desc}}</h3>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 sliderImg animated fadeIn">
                  <img :src="imgList[Math.abs(currentImg) % imgList.length].img" class="img-fluid"/>
                  <div class="borderDiv"></div>
                </div>
              </div>
            </div>
          </transition-group>
          <a class="slider-left" @click="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> 
          <a class="slider-right" @click="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a> 
      </div>
    </div>
    <ul>
      <li v-for="n in imgList.length" @click="currentImg=n-1" v-bind:class="{active:(Math.abs(currentImg) % imgList.length) == (n-1)}"><span></span></li>
    </ul>
  </div>
  <div class="mouseScroll">
    <div class="mouse">
      <span class="pointInMouse"></span>
    </div>
    <h6>Scroll down</h6>
  </div>
</div>
<div class="section section-third">
  <% for (let i = 0; i < data.length; i++) {
    if (i % 6 == 0) { %>
  <div class="slide">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-9 text-center">
          <h1>Cities</h1>
          <hr>
          <div class="row">
          <% for (let j = i; j < i+6; j++) { 
            if (j == data.length) break; %>
            <div class="col-md-4 col-sm-4">
              <a href="/cities/<%= data[j].name %>" class="img img-h3 <%= data[j].name %>">
                <h3><%= data[j].city %></h3>
                <ul>
                  <li><span class="ti-eye"></span></li>
                  <li><%= data[j].views %></li>
                  <li><span class="ti-thumb-up"></span></li>
                  <li><%= data[j].likes %></li>
                </ul>
              </a>
            </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% }} %>
    <div class="mouseScroll">
      <div class="mouse">
        <span class="pointInMouse"></span>
      </div>
      <h6>Scroll down</h6>
    </div>
</div>
<div class="section section-five">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-9 text-center filters">
        <div class="row">
          <div class="col-md-6 left-filters text-left">
          <form class="goldenforms-pro" id="goldenforms-pro" method="post" action="/searchMap">
            <!--<div class="frm-section colm colm6">-->
              <!--<label for="city" class="field-label">Select city:</label>-->
              <!--<label class="field uit-select prepend-icon">-->
                <!--<select id="city" name="select_city">-->
                  <!--<%for(let n = 0; n < data.length; n++){%>-->
                    <!--<option value="<%=data[n].city%>"><%=data[n].city%></option>-->
                  <!--<%}%>-->
                <!--</select>-->
                <!--<i class="select-arrow"></i>-->
                <!--<span class="field-icon"><i class="fa fa-globe"></i></span>-->
              <!--</label>-->
            <!--</div>-->
            <div class="frm-section colm colm6" id="locationField">
              <label for="autocomplete" class="field-label">Enter a city:</label>
              <label class="field">
                <input name="select_city" type="text" class="uit-input" id="autocomplete" placeholder="Enter a city">
              </label>
            </div>
            <div class="frm-section colm colm6">
              <label for="days" class="field-label">Number of days:</label>
              <label class="field uit-select prepend-icon">
                <select id="days" name="select_days">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <i class="select-arrow"></i>
                <span class="field-icon"><i class="fa fa-calendar"></i></span>
              </label>
            </div>
            <div class="frm-section colm colm6">
              <label for="people" class="field-label">Number of people:</label>
              <label class="field uit-select prepend-icon">
                <select id="people" name="select_people">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <i class="select-arrow"></i>
                <span class="field-icon"><i class="fa fa-users"></i></span>
              </label>
            </div>
            <div class="frm-section">
              <div class="option-group field">
                <label class="uit-option">
                  <input type="checkbox" name="lodging" id="lodging" checked disabled>
                  <span class="checkbox-option"></span> Hotel
                </label>
                <label class="uit-option">
                  <input type="checkbox" name="cafe" id="cafe">
                  <span class="checkbox-option"></span> Cafe/Restaurants
                </label>
                <label class="uit-option">
                  <input type="checkbox" name="museum" id="museum">
                  <span class="checkbox-option"></span> Sights
                </label>
              </div><!-- end .option-group section -->
            </div>
              <div class="frm-section slider_budget">
                <div class="spacer-b15 text-left">
                  <label for="amountx">Choose your budget:</label>
                  <input type="text" id="amountx" class="slider-input" name="budget">
                </div>
                <div class="slider-wrapper black-slider">
                  <div id="slider-range2"></div>
                </div>
              </div>
              <div class="frm-section colm colm4">
                <div class="option-group field">
                  <div class="switch-group gblock">
                    <div class="uit-switch switch-square">
                      <input type="checkbox" name="save_search" id="s1" checked>
                      <label class="save_search" for="s1" data-on="YES" data-off="NO"><span class="switch-handle"></span></label>
                    </div>
                    <label class="switch-label" for="s1">Save my search</label>
                  </div>
                </div>
              </div>
            <button type="submit" class="btn browse">Browse</button>
          </form>
            </div>
          <div class="col-md-6 withframe">
            <div id="map_google"></div>
            <div style="display: none">
              <div id="info-content">
                <table>
                  <tr id="iw-url-row" class="iw_table_row">
                    <td id="iw-icon" class="iw_table_icon"></td>
                    <td id="iw-url"></td>
                  </tr>
                  <tr id="iw-address-row" class="iw_table_row">
                    <td class="iw_attribute_name">Address:</td>
                    <td id="iw-address"></td>
                  </tr>
                  <tr id="iw-phone-row" class="iw_table_row">
                    <td class="iw_attribute_name">Telephone:</td>
                    <td id="iw-phone"></td>
                  </tr>
                  <tr id="iw-rating-row" class="iw_table_row">
                    <td class="iw_attribute_name">Rating:</td>
                    <td id="iw-rating"></td>
                  </tr>
                  <tr id="iw-website-row" class="iw_table_row">
                    <td class="iw_attribute_name">Website:</td>
                    <td id="iw-website"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mouseScroll mouseScrollUp">
    <div class="mouse">
      <span class="pointInMouse"></span>
    </div>
    <h6>Scroll up</h6>
  </div>
</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="./js/libs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js"></script>
<script src="https://use.fontawesome.com/931e1872a9.js"></script>
<script src="https://unpkg.com/vuelidate@0.5.0/dist/vuelidate.min.js"></script>
<script src="https://unpkg.com/vuelidate@0.5.0/dist/validators.min.js"></script>
<script src="./js/jquery-ui-slider-pips.min.js"></script>
<script src="./js/jquery-ui-touch-punch.min.js"></script>
<script src="./js/map-icons.js"></script>
<script src="./js/script.js"></script>
<script>
  $("#goldenforms-pro").submit((e)=>{
      e.preventDefault();
      let city = $("input#autocomplete").val();
      let people = $("select#people").val();
      let days = $("select#days").val();
      $.post( "/searchMap", {city,people,days,lat:searchCoord.lat(),lng:searchCoord.lng()} );
  });
  <% for (let i = 0; i < data.length; i++) {  %>
    $('head').append(`<style>.<%=data[i].name%>:before { background-image: url(<%=data[i].image%>) }</style>`);
  <% } %>
</script>
 <script>
     // var myLatLng;
     // var map;
     // var marker;
     // var zoom = 4;
     // function initMap() {
     //     myLatLng = {lat: 50.45466, lng: 30.5238};
     //     map = new google.maps.Map(document.getElementById('map_google'), {
     //         zoom,
     //         center: myLatLng
     //     });
     //     marker = new google.maps.Marker({
     //         position: myLatLng,
     //         map: map,
     //         animation: google.maps.Animation.DROP
     //     });
     // }
     //
     // function moveMap(coordinates,callback) {
     //     map.panTo(coordinates);
     //     callback(6,coordinates);
     // }
     //
     // window.addEventListener('load', function () {
     //     let formEl = document.getElementById("city");
     //     formEl.addEventListener('change', function(e) {
     //         $.get("/api/"+e.target.value, function(data, status){
     //             let newCoordinates = {lat:data.lat,lng:data.lng};
     //             moveMap(newCoordinates,(zoom,coordinates)=>{marker.setOptions({position:coordinates,animation:google.maps.Animation.DROP});map.setOptions({zoom})})
     //         });
     //     });
     // });
     let types = ['lodging'];
     var map, places, infoWindow, zoom=4, searchCoord;
     var markers = [];
     var autocomplete;
     var countryRestrict = {'country': 'ua'};
     var hostnameRegexp = new RegExp('^https?://.+?/');
     var center = {lat: 50.45466, lng: 30.5238};
     window.addEventListener('load', function () {
         let inputCafe = document.getElementById("cafe");
         let inputMuseum = document.getElementById("museum");
         inputCafe.addEventListener('change', () => {
             try {
                 if (inputCafe.checked) {
                     if (types.indexOf('restaurant') == -1) types.push('restaurant');
                 }
                 else {
                     let index = types.indexOf('restaurant');
                     types.splice(index, 1);
                     console.log("deleted ");
                 }
                 search();
                 console.log(types);
             } catch (e) {}
         });
         inputMuseum.addEventListener('change', () => {
             try {
                 if (inputMuseum.checked) {
                     if (types.indexOf('point_of_interest') == -1) types.push('point_of_interest');
                 }
                 else {
                     let index = types.indexOf('point_of_interest');
                     types.splice(index, 1);
                     console.log("deleted ");
                 }
                 search();
                 console.log(types);
             } catch (e) {}
         });
     });
     function initMap() {
         map = new google.maps.Map(document.getElementById('map_google'), {
             zoom,
             center,
             mapTypeControl: false,
             panControl: false,
             zoomControl: false,
             streetViewControl: false
         });
         infoWindow = new google.maps.InfoWindow({
             content: document.getElementById('info-content')
         });
         autocomplete = new google.maps.places.Autocomplete(
             /** @type {!HTMLInputElement} */ (
                 document.getElementById('autocomplete')), {
                 types: ['(cities)'],
                 componentRestrictions: countryRestrict
             });
         places = new google.maps.places.PlacesService(map);
         autocomplete.addListener('place_changed', onPlaceChanged);
     };
     function onPlaceChanged() {
         var place = autocomplete.getPlace();
         if (place.geometry) {
             searchCoord = place.geometry.location;
             console.log(searchCoord);
             map.panTo(place.geometry.location);
             map.setZoom(15);
             search();
         } else {
             document.getElementById('autocomplete').placeholder = 'Enter a city';
         }
     }
     function search() {
         var search = {
             bounds: map.getBounds(),
             types
         };

         places.nearbySearch(search, function(results, status) {
             console.log(results);
             if (status === google.maps.places.PlacesServiceStatus.OK) {
                 clearMarkers();
                 // Create a marker for each hotel found, and
                 // assign a letter of the alphabetic to each marker icon.
                 for (var i = 0; i < results.length; i++) {
                     let color;
                     let label;
                     if (results[i].types.indexOf("lodging") != -1 && types.indexOf("lodging") != -1) {
                         color = "#00CCBB";
                         label = "<span class='map-icon map-icon-lodging animated bounceIn'></span>";
                     } else if (results[i].types.indexOf("restaurant") != -1 && types.indexOf("restaurant") != -1) {
                         color = "red";
                         label = "<span class='map-icon map-icon-restaurant animated bounceIn'></span>";
                     } else if (results[i].types.indexOf("point_of_interest") != -1 && types.indexOf("point_of_interest") != -1) {
                         color = "purple";
                         label = "<span class='map-icon map-icon-point-of-interest animated bounceIn'></span>";
                     }
                     // Use marker animation to drop the icons incrementally on the map.
                     markers[i] = new mapIcons.Marker({
                         position: results[i].geometry.location,
                         animation: google.maps.Animation.DROP,
                         icon: {
                             path: mapIcons.shapes.MAP_PIN,
                             fillColor: color,
                             fillOpacity: 1,
                             strokeColor: '',
                             strokeWeight: 0
                         },
                         map_icon_label: label
                     });
                     markers[i].placeResult = results[i];
                     google.maps.event.addListener(markers[i], 'click', showInfoWindow);
                     setTimeout(dropMarker(i), i * 100);

                 }
             }
         });
     };
     function clearMarkers() {
         for (var i = 0; i < markers.length; i++) {
             if (markers[i]) {
                 markers[i].setMap(null);
             }
         }
         markers = [];
     }
     function dropMarker(i) {
         return function() {
             markers[i].setMap(map);
         };
     }
     function showInfoWindow() {
         var marker = this;
         console.log(marker);
         places.getDetails({placeId: marker.placeResult.place_id},
             function(place, status) {
                 if (status !== google.maps.places.PlacesServiceStatus.OK) {
                     return;
                 }
                 infoWindow.open(map, marker);
                 buildIWContent(place);
             });
     }
     function buildIWContent(place) {
         document.getElementById('iw-icon').innerHTML = '<img class="hotelIcon" ' +
             'src="' + place.icon + '"/>';
         document.getElementById('iw-url').innerHTML = '<b><a href="' + place.url +
             '">' + place.name + '</a></b>';
         document.getElementById('iw-address').textContent = place.vicinity;

         if (place.formatted_phone_number) {
             document.getElementById('iw-phone-row').style.display = '';
             document.getElementById('iw-phone').textContent =
                 place.formatted_phone_number;
         } else {
             document.getElementById('iw-phone-row').style.display = 'none';
         }

         // Assign a five-star rating to the hotel, using a black star ('&#10029;')
         // to indicate the rating the hotel has earned, and a white star ('&#10025;')
         // for the rating points not achieved.
         if (place.rating) {
             var ratingHtml = '';
             for (var i = 0; i < 5; i++) {
                 if (place.rating < (i + 0.5)) {
                     ratingHtml += '&#10025;';
                 } else {
                     ratingHtml += '&#10029;';
                 }
                 document.getElementById('iw-rating-row').style.display = '';
                 document.getElementById('iw-rating').innerHTML = ratingHtml;
             }
         } else {
             document.getElementById('iw-rating-row').style.display = 'none';
         }

         // The regexp isolates the first part of the URL (domain plus subdomain)
         // to give a short URL for displaying in the info window.
         if (place.website) {
             var fullUrl = place.website;
             var website = hostnameRegexp.exec(place.website);
             if (website === null) {
                 website = 'http://' + place.website + '/';
                 fullUrl = website;
             }
             document.getElementById('iw-website-row').style.display = '';
             document.getElementById('iw-website').textContent = website;
         } else {
             document.getElementById('iw-website-row').style.display = 'none';
         }
     };

 </script>
 <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByDcMtn8Rt47A6sGt1-i4YryGVZc5flkQ&libraries=places&callback=initMap">
 </script>


</body>
</html>