@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700");
nav {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: right;
  padding-right: 25px; }
  nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.15em;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }

nav a:hover,
nav a:focus {
  outline: none; }

.cl-effect-10 {
  position: relative;
  z-index: 1; }
  .cl-effect-10 a {
    overflow: hidden;
    margin: 0 15px; }
    .cl-effect-10 a span {
      border: 2px solid white;
      display: block;
      padding: 10px 20px;
      background: transparent;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
  .cl-effect-10 a:hover {
    text-decoration: none;
    color: white; }
  .cl-effect-10 a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background: #fff;
    color: black;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(-100%); }
  .cl-effect-10 a:hover span, .cl-effect-10 a:focus span {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
        transform: translateX(100%); }
  .cl-effect-10 a:hover::before, .cl-effect-10 a:focus::before {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
        transform: translateX(0%); }

nav.black {
  text-align: left; }
  nav.black a {
    color: black; }

.cl-effect-10.black a {
  margin-left: 0; }
  .cl-effect-10.black a span {
    border: 2px solid black; }

.cl-effect-10.black a::before {
  background: black;
  color: #fff; }

body {
  -webkit-background-size: cover;
          background-size: cover;
  background-image: url(../img/kyiv2.png);
  background-position: center;
  background-attachment: fixed; }

.wizard-progress-with-circle {
  background-color: #f3f2ee !important;
  width: 100% !important; }

.wizard-icon-circle.md.checked {
  outline: none; }

.justify-content-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh; }
  .justify-content-center .col-md-10 {
    margin: auto; }
    .justify-content-center .col-md-10 .form-div {
      background-color: white; }
      .justify-content-center .col-md-10 .form-div hr {
        border-color: black;
        width: 100px; }

.uploadedImg {
  display: none; }

.uploadedImg_active {
  display: block;
  width: 200px;
  height: 200px;
  margin-bottom: 10px; }

input[type=file] {
  height: 40px !important; }


.shake-enter-active {
  animation: shake .5s;
}

@keyframes shake {
    10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.with-anim {
  display: block !important;
}
