@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700");
#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: transparent;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}

	#header{
		top:0px;
	}
#header img {
  position: absolute;
  left:10px;
  top:5px;
  width:40px;
  height:40px;
}
#header input.input-search {
    position: absolute;
    top:10px;
    left:60px;
    width:200px;
    box-sizing: border-box;
    font-size: 16px;
    background-image: url(../img/search-icon.png);
    background-size: 23px 23px; 
    background-position: 3px 3px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 30px;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 25px;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.8) inset;
    outline: none;
}

#header ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right:10px;
  top:10px;
}

#header ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 3px;
  font-size:17px;
}

#header ul li a{
  color: white;
  text-decoration: none;
}

#header ul li a i{
  margin-right: 4px;
}

#header ul li > a.add {
  width:30px;
  height: 30px;
  border: 0;
  border-radius:50px;
  display: block;
  color:white;
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size:20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.8) inset;
  padding-top: 3px;
}

#header ul li a.add span {
  transition:transform 1s;
  display: block;
  margin-right: 0;
}

#header ul li a.add:hover span {
  -o-transform: rotate(1turn);
	-ms-transform: rotate(1turn);
	-moz-transform: rotate(1turn);
	-webkit-transform: rotate(1turn);
	transform: rotate(1turn);
}

.filteredItems {
  position: absolute;
  top: 50px;
  background: white;
  color:black;
  min-height:0px;
  transition:0.5s;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.oneOfCities {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color:black;
}

.oneOfCitiesImg {
  background-size: cover;
  height:150px;
  padding-top:10px;
}

.oneOfCities .desc {
  font-weight: 300;
  text-align: justify;
}

.oneOfCities .desc .link {
  margin-top:10px;
}

.oneOfCities .desc .link a{
  text-decoration: none;
  border-radius: 25px;
  border:1px solid rgba(25,0,30,1);
  color: rgba(25,0,30,1);
  padding: 2px 8px; 
  transition: all 0.5s;
}

.oneOfCities .desc .link a:hover{
  background-color:rgba(25,0,30,1);
  color:white; 
}

.linkPage {
  display:inline-block;
  margin:5px 5px 10px 0;
  cursor: pointer;
}

.linkPage div {
  padding: 0px 8px;
  border-radius:50px;
  border:1px solid rgba(25,0,30,1);
  color:rgba(25,0,30,1);
  transition: 0.5s;
}

.linkPage div.active {
  color:white;
  background-color:rgba(25,0,30,1);
}

.linkPage div:hover {
  color:white;
  background-color:rgba(25,0,30,1);
}

.pages {
  min-height: 0;
}

.highlighted {
  background-color: SlateBlue;
}

.fade-enter-active {
  animation: fadeInLeft .5s;
}
.fade-leave-active {
  animation: fadeInRight .5s;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-200px);
    }
}

/*span.typed-cursor{
  display: none;
}*/

/*modal*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 10px;
    -webkit-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset -1px 1px 0px rgba(255, 255, 255, 0.3), inset 1px 1px 0px rgba(255, 255, 255, 0.3);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  margin-top: 0;
  color: rgba(25,0,30,1);
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size:20px;
}

.modal-body {
  margin: 10px 0;
  color:rgba(25,0,30,1);
  border-bottom:1px solid #D8D8D8;
  border-top:1px solid #D8D8D8;
  text-align: left;
}

.modal-body label{
  float:left;
  margin-bottom:-2px;
}

.modal-body .input-group{
  margin-bottom:5px !important;
}

.modal-body a{
  display: block;
  color:rgba(25,0,30,1);
}

.modal-default-button {
  float: right;
  background-color: rgba(25,0,30,1);
  color:white;
  border:none;
  outline: none !important;
  cursor: pointer;
  border-radius: 25px;
  padding: 5px 10px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.input-group {
    flex-wrap: wrap!important;
}

.input-group .invalid-feedback {
    flex-basis: 100%!important;
}