@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700");
nav {
  margin-top: 25px;
  margin-bottom: 25px;
   }
   nav a {
     margin-bottom: 25px !important;
   }
  nav a.back {
    position: relative;
    display: inline-block;
    margin: 0 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.15em;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
.update {
  position: absolute;
  top:20px;
  right:20px;
  font-size: 25px !important;
  cursor: pointer;
  color:#0d0d0d;
}
.fa-floppy-o {
  font-size: 25px !important;
  cursor:pointer;
  color:#0d0d0d;
}
nav button.remove {
  float: left;
  width:50px;
  height: 50px;
  border: 1px solid #0d0d0d;
  margin-left:10px;
  border-radius:50px;
  display: block;
  color:#0d0d0d;
  background-color:white;
  outline: none;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size:25px;
  text-align: center;
  padding-top:3px;
  cursor: pointer;
}

nav button.remove span {
  display: block;
  transition:transform 1s;
}

nav button.remove:hover span {
  -o-transform: rotate(1turn);
	-ms-transform: rotate(1turn);
	-moz-transform: rotate(1turn);
	-webkit-transform: rotate(1turn);
	transform: rotate(1turn);
}

nav a.back:hover,
nav a.back:focus {
  outline: none; }

.cl-effect-10 {
  position: relative;
  z-index: 1; }
  .cl-effect-10 a.back {
    overflow: hidden;
    margin: 0 15px; }
    .cl-effect-10 a.back span {
      border: 1px solid white;
      display: block;
      padding: 10px 20px;
      background: transparent;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
  .cl-effect-10 a.back:hover {
    text-decoration: none;
    color: white; }
  .cl-effect-10 a.back::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #0d0d0d;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(-100%); }
  .cl-effect-10 a.back:hover span, .cl-effect-10 a.back:focus span {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
        transform: translateX(100%); }
  .cl-effect-10 a.back:hover::before, .cl-effect-10 a.back:focus::before {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
        transform: translateX(0%); }

nav.black {
  text-align: left; }
  nav.black a.back {
    color: #0d0d0d; }

.cl-effect-10.black a.back {
  margin-left: 0; }
  .cl-effect-10.black a.back span {
    border: 1px solid #0d0d0d; }

.cl-effect-10.black a.back::before {
  background: #0d0d0d;
  color: #fff; }

body {
  -webkit-background-size: cover;
          background-size: cover;
  background-image: url(../img/kyiv2.png);
  background-position: center;
  background-attachment: fixed; }

.tableWrapp {
  height:100vh;
  display:table;
  table-layout: fixed;
  width:100%;
}
  .container-fluid .col-md-4 {
    overflow: hidden;
    padding: 0;
    background-color: #fff;
    /*background-image: url(../img/harkiv.jpg);*/
    -webkit-background-size: cover;
            background-size: cover;
    min-height: 400px; }
    /*.container-fluid .col-md-4.rivne {
      background-image: url(../img/rivne.jpg); }
    .container-fluid .col-md-4.donetsk {
      background-image: url(../img/donetsk.jpg); }
    .container-fluid .col-md-4.odessa {
      background-image: url(../img/odessa.jpg); }
    .container-fluid .col-md-4.sevastopol {
      background-image: url(../img/sevastopol.jpg); }
    .container-fluid .col-md-4.lviv {
      background-image: url(../img/lviv.jpg); }*/
  .container-fluid .col-md-8 {
    background-color: #fff;
    text-align: center;
    padding-top: 25px; }
    .container-fluid .col-md-8 h1 {
      font-family: 'Merriweather', serif;
      font-weight: 700;
      -webkit-animation-delay: .25s;
              animation-delay: .25s; }
    .container-fluid .col-md-8 hr {
      background-color: #0d0d0d;
      width: 100px;
      -webkit-animation-delay: .5s;
              animation-delay: .5s; }
    .container-fluid .col-md-8 p {
      color:#0d0d0d;
      font-family: 'Merriweather', serif;
      font-weight: 300;
      -webkit-animation-delay: .75s;
              animation-delay: .75s; }
    .container-fluid .col-md-8 a {
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s; }
    .container-fluid .col-md-8 button.remove,  .container-fluid .col-md-8 a.back{
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s; }

.changeImg {
  width:100%;
  height:100%;
  background-color: rgba(96, 96, 96,0.6);
}

.changeImg i{
  position: absolute;
  top:50%;
  left:50%;
  font-size: 40px !important;
  color:white;
  margin-top: -15px;
  margin-left:-20px;
  cursor: pointer;
  transition:text-shadow 0.3s;
}

.changeImg i:hover{
  margin-top: -15px;
  text-shadow: 2px 2px 8px black;
}

.slideFromDown-enter-active {
  animation: slideFromDown .5s;
}
.slideFromDown-leave-active {
  animation: slideFromDown .5s reverse;
}
@keyframes slideFromDown {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
